<template>
  <div id="app" class="bg-grey-lighter">
    <div class="container mx-auto min-h-screen">

      <div class="w-4/5 max-w-lg mx-auto py-4">

        <div class="flex mb-4 justify-between">
          <div>
            <a :href="trelloUrl" v-if="!trelloToken" class="no-underline inline-block bg-blue-dark hover:bg-blue-darker text-white font-bold py-2 px-4 rounded">
              Trello Login
            </a>
          </div>
          <div>
            <a :href="spotifyUrl" v-if="!spotifyToken" class="no-underline inline-block bg-green-dark hover:bg-green-darker text-white font-bold py-2 px-4 rounded">
              Spotify Login
            </a>
          </div>
        </div>

        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" @submit.prevent="createBoard">

          <h2 class="text-center text-grey-darker mb-4">Trello Board Creator</h2>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block text-grey-darker text-sm font-bold mb-2" for="artist">
                Artist Name
              </label>
              <input v-model="artistName" @blur="getArtistsAlbums" class="text-field" id="artist" placeholder="Artist Name">
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block text-grey-darker text-sm font-bold mb-2">
                Discography File
              </label>

              <label for="data-file" class="w-full md:w-2/3 block bg-grey hover:bg-grey-dark border text-white font-bold py-2 px-4 rounded cursor-pointer">
                Choose a File
              </label>

              <file-chooser :albums.sync="albums"></file-chooser>
            </div>
          </div>

          <div class="flex justify-center mb-4">
            <button type="submit" :disabled="buttonDisable" :class="{ 'opacity-50 cursor-not-allowed': buttonDisable }" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded ">Create Board</button>
          </div>

          <div class="flex justify-center" v-if="isDone">
            <p class="text-green">All Good! <a class="font-bold" :href="board.url">Go to Board</a></p>
          </div>
        </form>
      </div>

      <div class="mb-4">
        <board-preview :albums="albums"></board-preview>
      </div>
    </div>
  </div>
</template>

<script>
import FileChooser from './FileChooser'
import BoardPreview from './BoardPreview'
import api from '../api'
import Spotify from 'spotify-web-api-js'

const spotifyApi = new Spotify()

const SPOTIFY_CLIENT_ID = process.env.SPOTIFY_CLIENT_ID
const redirect_uri = process.env.REDIRECT_URI

const albumTitleReplaceRegx = /[^a-zA-Z]/g

export default {
  name: 'app',
  mounted() {
    const url = new URL(document.location.href.replace('/#', '?'))
    const spotifyToken = url.searchParams.get('access_token')
    const trelloToken = url.searchParams.get('token')

    if (spotifyToken && !this.spotifyToken) {
      this.spotifyToken = spotifyToken
      localStorage.setItem('spotifyToken', spotifyToken)
    }

    if (trelloToken && !this.trelloToken) {
      this.spotifyToken = spotifyToken
      localStorage.setItem('trelloToken', trelloToken)
    }

    spotifyApi.setAccessToken(this.spotifyToken)
  },
  data() {
    return {
      spotifyToken: localStorage.getItem('spotifyToken'),
      trelloToken: localStorage.getItem('trelloToken'),
      spotifyUrl: `https://accounts.spotify.com/authorize?client_id=${SPOTIFY_CLIENT_ID}&redirect_uri=${redirect_uri}&response_type=token`,
      trelloUrl: `https://trello.com/1/authorize?callback_method=fragment&return_url=${redirect_uri}&expiration=1day&key=${
        process.env.TRELLO_KEY
      }&response_type=token&name=Interview Exercise&scope=read,write`,
      artistName: '',
      artistId: null,
      albums: [],
      albumCovers: [],
      board: {},
      isLoading: false,
      isDone: false
    }
  },

  computed: {
    buttonDisable() {
      return !this.albums.length || !this.artistName || this.isLoading
    },
    flatAlbums() {
      return this.albums.length ? [].concat.apply([], this.albums) : []
    },
    albumNames() {
      return this.flatAlbums.map(album =>
        album.title
          .toLowerCase()
          .replace(albumTitleReplaceRegx, '')
          .trim()
      )
    },
    albumImages() {
      return this.albums.length && this.albumCovers.length
        ? this.albumCovers
            .filter(item => {
              return (
                this.albumNames.indexOf(
                  item.name.toLowerCase().replace(albumTitleReplaceRegx, '')
                ) !== -1
              )
            })
            .reduce((prev, current) => {
              prev[
                current.name.toLowerCase().replace(albumTitleReplaceRegx, '')
              ] = current
              return prev
            }, {})
        : {}
    }
  },

  methods: {
    async createBoard() {
      if (this.buttonDisable) return

      this.isLoading = true

      try {
        let boardResponse = await api.createBoard(this.artistName)
        this.board = boardResponse.data
        this.board.lists = {}

        for (let decade of this.albums) {
          let decadeYear = Math.floor(decade[0].year / 10) * 10
          let createdList = await api.addList(
            this.board.id,
            `${decadeYear}'s decade`,
            'bottom'
          )

          this.board.lists[decadeYear] = createdList.data
        }

        let cardRequests = this.flatAlbums.map(album => {
          return api.addCard(
            this.board.lists[album.decade].id,
            `${album.year}: ${album.title}`,
            'bottom'
          )
        })

        Promise.all(cardRequests)
          .then(response => {
            return Promise.all(
              response
                .filter(({ data }) => {
                  let titleCompare = data.name
                    .toLowerCase()
                    .replace(albumTitleReplaceRegx, '')

                  return !!this.albumImages[titleCompare]
                })
                .map(({ data }) => {
                  let titleCompare = data.name
                    .toLowerCase()
                    .replace(albumTitleReplaceRegx, '')
                  let cardId = data.id

                  return api.addImage(
                    cardId,
                    this.albumImages[titleCompare].image
                  )
                })
            )
          })
          .then(response => {
            this.isLoading = false
            this.isDone = true
          })
      } catch (error) {
        console.log(error)
        this.isLoading = false
      }
    },

    async getArtistsAlbums() {
      if (!this.artistName || this.albumCovers.length) return

      let maxIterations = 3
      let offset = 0

      try {
        let artistResponse = await spotifyApi.searchArtists(this.artistName, {
          limit: 1
        })

        this.artistId = artistResponse.artists.items[0].id

        for (let i = 0; i < maxIterations; i++) {
          let albumsResponse = await spotifyApi.getArtistAlbums(this.artistId, {
            limit: 50,
            offset
          })

          this.albumCovers = this.albumCovers.concat(
            albumsResponse.items.map(item => {
              return {
                name: item.name,
                image: item.images[0].url,
                type: item.album_type
              }
            })
          )

          if (!albumsResponse.next) {
            break
          }

          offset += albumsResponse.items.length
        }
      } catch (error) {
        console.log(error)
        if (error.status === 401) {
          this.spotifyToken = null
          localStorage.removeItem('spotifyToken')
        }
      }
    }
  },
  components: {
    FileChooser,
    BoardPreview
  }
}
</script>

<style>
@tailwind preflight;

html,
body {
  height: 100%;
}

.text-field {
  @apply .shadow .appearance-none .border .rounded .w-full .py-2 .px-3 .text-grey-darker;
}

@tailwind utilities;
</style>
