<template>
  <div class="p-2">
    <div class="flex flex-wrap -mx-2" v-if="albums.length">
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-2" v-for="(decade, index) in albums" :key="index">
        <div class="bg-grey-light h-full rounded p-2">
          <h3 class="text-center py-2 mb-2">{{Math.floor(decade[0].year / 10) * 10}}'s</h3>

          <div class="p-2 bg-white rounded mb-2 flex justify-between" v-for="album in decade" :key="album.id">
            <span>{{album.year}}</span>
            <p class="mx-1 text-center">{{album.title}}</p>
            <!-- <span class="px-2">{{album.upload ? '✅' : '⏳'}}</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    albums: {
      type: Array,
      required: true
    }
  }
}
</script>

<style>

</style>
