<template>
  <input type="file" class="hidden" name="data-file" id="data-file" @change="handleFileChange">
</template>

<script>
import uuid from 'uuid/v1'

const reader = new FileReader()

export default {
  created() {
    reader.onload = () => {
      this.selectedFile = reader.result
      const albums = this.parseFile()
      this.splitIntoDecades(albums)
    }
  },

  props: {
    albums: {
      type: Array,
      required: true
    }
  },

  data() {
    return {
      selectedFile: ''
    }
  },

  methods: {
    handleFileChange(event) {
      const file = event.target.files[0]
      if (!file) {
        console.log('No File Choosen')
        return
      }

      reader.readAsText(file)
    },

    parseFile() {
      return this.selectedFile
        .split(/\r?\n|\r/g)
        .filter(Boolean)
        .map((album, index) => {
          let year = parseInt(album.substring(0, 4))
          return {
            id: uuid(),
            year,
            title: album.substring(5),
            decade: Math.floor(year / 10) * 10,
            upload: false
          }
        })
        .sort(
          (a, b) =>
            a.year - b.year ||
            a.title.toLowerCase().localeCompare(b.title.toLowerCase())
        )
    },

    splitIntoDecades(albums) {
      if (!albums.length) return []

      let decades = []
      let currentDecade = albums[0].decade
      let currentDecadeAlbums = []
      albums.forEach(album => {
        let albumDecade = album.decade

        if (albumDecade !== currentDecade) {
          decades.push(currentDecadeAlbums.concat([]))
          currentDecade = albumDecade
          currentDecadeAlbums = []
        }

        currentDecadeAlbums.push(album)
      })

      decades.push(currentDecadeAlbums.concat([]))

      this.$emit('update:albums', decades)
    }
  }
}
</script>

<style>

</style>
